#short {
    width: 420px;
}
#adminForm {
    padding-left: 10px;
}
#requester {
    width: 100px;
}
#itoncall {
    background-color: lightblue;
}
.status-started {
    background-color: yellow;
}
.itoncall {
    text-align: center;
}
hr {
    border-top: 1px solid #000000;
}
#mdtickets-dashboard {
    min-height: 650px;
}
.ticket a{
    float: right;
}
.deadline_warning {
    color: orange;
}
.deadline_error {
    color: red;
}
#myModal {
    width: 900px;
}
.modal-body {
    width: 800px;
}
@media print {
    @page {
        size: A3 landscape;
    }
    #print_btn, #mdtickets_toolbar, .menu, .noprint, header nav, footer {
        display: none;
    }

}
